---
execution_type: server
domain: release.gethandsup.com
repo_name: jstotz/apache-php
hostnames:
  - web: web-apache-php-${env_id}.${domain}
environment_templates:
  - name: ephemeral
  - name: permanent
resources:
  cpu:
    requests: 100m
  memory:
    limits: 1Gi
    requests: 100Mi
  replicas: 1
services:
  - name: web
    image: jstotz/apache-php/web
    build:
      context: app
    has_repo: true
    volumes: []
    ports:
      - type: node_port
        target_port: "80"
        port: "80"
        loadbalancer: false
workflows:
  - name: setup
    parallelize:
      - step: services-0
        tasks:
          - services.web
  - name: patch
    parallelize:
      - step: services-0
        tasks:
          - services.web
  - name: teardown
    parallelize:
      - step: remove-environment
        tasks:
          - release.remove_environment
app_imports:
  - name: apache-php-blue
    pull_request_labels:
      - import-blue
      - import-all
  - name: apache-php-green
    pull_request_labels:
      - import-green
      - import-all
